/*
font-family: 'Bahiana', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Trade Winds', cursive;
*/
body{
  background-color: lightslategray;
  font-family: 'Trade Winds', cursive;
}

.action:hover {
  color: silver;
}

img {
  width: 100%;
}

div.box{
  margin: 5px;
  padding: 5px;
  width: 214px;
  border-radius: 5px;
  background: white;
}

#masonry-container, #masonry-container-rig {
  background: lightslategray;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

a.navbar-brand{
  padding: 15px 0;
}
